@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #bc9fdebd;
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-content{
  display: flex;
  align-items: center;
}

.image{
  height: 50px;
  margin-right: 1rem;
}

.title{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 4.8rem;
  font-family: perminant-marker, sans-serif;

  h3{
    position: absolute;
    color: rgb(36, 147, 158);
    top: -2rem;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
  }

  h6{
    position: absolute;
    color: rgb(97, 61, 25);
    top: -0.7rem;
    left: 3.8rem;
  }
}


.menu{
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: 8rem;
}
.menu-bar{
  list-style: none;
  gap: 2rem;
  margin-top: 2.8rem;
  color: rgb(97, 61, 25);
  cursor: pointer;
  
  >a{
    color: rgb(97, 61, 25);
    text-decoration: none;
    font-weight: bold;
  }
}

.social-icons{
  display: flex;
  margin-right: 4rem;
  gap: 0.8rem;
}

.icon{
  width: 100%;
  height: 100%;
  list-style: none;
  margin-top: 1.5rem;
  
  cursor: pointer;

  a img{
    width: 30px;
    height: 30px;
  }

  a .github{
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  a .instagram{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

 
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
