@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* margin-top: 2rem; */
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url('./assets/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #a581cff9;
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.logo-content{
  display: flex;
  align-items: center;
}

.image{
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
}

.title{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 4.8rem;
}

.title h3{
  position: absolute;
  color: rgb(36, 147, 158);
  top: -3rem;
  font-weight: bold;
  font-style: italic;
  font-size: 1.8rem;
  font-family: 'Permanent Marker', cursive;
}

.title h6{
  position: absolute;
  color: white;
  top: -0.6rem;
  left: 3rem;
}


.menu{
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: 8rem;
}

.menu-item{
  list-style: none;
  gap: 2rem;
  margin-top: 2.8rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.social-icons{
  display: flex;
  margin-right: 3rem;
  gap: 0.8rem;
}

.icon{
  width: 100%;
  height: 100%;
  list-style: none;
  margin-top: 1.5rem;
  cursor: pointer;
}

.icon a .discord{
  width:22px;
  height: 22px;
}

.icon a .github{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.icon a .instagram{
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.main-page{
  /* margin-top: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-image{
  position: relative;
  max-width: 600px;
  /* height: 480px;  */
  /* opacity: 0.3; */
  left: -2.4rem;
  top: 2rem;
}

.content{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  color: #090909bd;
  font-weight: bold;
}

.topic{
  font-size: 2rem;
  font-weight: bold;
  /* color: #24093e; */
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
